<h2>Mudar Password</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Atual</label>
    <input type="password" formControlName="currentPassword" />
  </div>
  <div>
    <label>Nova</label>
    <input type="password" formControlName="newPassword" />
  </div>
  <div>
    <label>Confirmar</label>
    <input type="password" formControlName="confirm" />
  </div>

  <button type="submit" [disabled]="form.invalid">Alterar</button>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="success" class="success">Password atualizada!</div>
</form>

